/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* MODAL COMPONENT
  https://github.com/pthompson/live_component_examples/blob/master/assets/css/app.scss */
/* Semi-transparent overlay container */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Foreground container */
.modal-inner-container {
  position: relative;
  z-index: 999;
}

.modal-card {
  height: auto;
  width: 28rem;
  max-width: 51rem;
  margin: 0.5rem;
  border-radius: 0.4rem;
  background-color: #fff;
}

.modal-inner-card {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.modal-title {
  color: #0069d9;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.075em;
}

.modal-form-title {
  color: #000;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.075em;
  margin-bottom: 1.75rem;
}

.modal-body {
  margin-top: 0.8rem;
  text-align: center;
  font-size: 1.6rem;
}

.modal-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.75rem;
}

.left-button {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.right-button {
  margin-left: 0.6rem;
}

.fix-position {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}
